<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
    <head>
        <title>UserForm</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/styleForm.css}">
    </head>

    <body layout:fragment="body">

        <div class="container">
            <div class="encabezado"><h1 class=""><i class="bi bi-person-plus"> Registrar Usuario</i></h1></div>

            <form method="POST" th:object="${Usuario}" th:action="@{Add}" enctype="multipart/form-data"> 
                <div class="row g-3 align-item-start">

                    <div class="col-md-4 text-center d-flex flex-column align-items-center">
                        <div class="card p-4 w-100 h-100">
                            <label for="ImagenFile" class="form-label fw-bold">Imagen</label>
                            
                            <img th:if='${Usuario.Imagen != null}' alt="ImgPreview" id="ImgPreview"
                                 th:src="@{${#strings.startsWith(UsuarioId.Imagen, 'iVBORw0KGgo')}? 'data:image/png;base64,' + ${UsuarioId.Imagen} : 'data:image/jpg;base64,' + ${UsuarioId.Imagen}}">

                            <img th:if='${Usuario.Imagen == null}' id="ImgPreview"
                                 src="https://icon-library.com/images/default-user-icon/default-user-icon-18.jpg">
                            
                            <input type="file" class="form-control mb-2" name="imagenFile" id="imagenFile" accept="image/*">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row g-1">

                            <div class="col-md-6">
                                <label for="UserName">UserName:</label>
                                <input class="form-control" type="text" id="UserName" name="UserName" placeholder="UserName" th:field="*{UserName}" >
                                <span class="error-msg text-danger"></span>
                                <span class="text-danger" th:if="${#fields.hasErrors('UserName')}" th:errors='*{UserName}'></span>
                            </div>

                            <div class="col-md-6">
                                <label for="Nombre">Nombre:</label>
                                <input class="form-control" type="text" id="Name" name="Nombre" placeholder="Nombre" th:field="*{Nombre}" >
                                <span class="error-msg text-danger"></span>
                                <span class="text-danger" th:if="${#fields.hasErrors('Nombre')}" th:errors='*{Nombre}'></span>
                            </div>

                            <div class="col-md-6">
                                <label for="ApellidoPaterno">Apellido Paterno:</label>
                                <input class="form-control" type="text" id="ApellidoPaterno"  placeholder="Apellido Paterno" th:field="*{ApellidoPaterno}" >
                                <span class="error-msg text-danger"></span>
                                <span class="text-danger" th:if="${#fields.hasErrors('ApellidoPaterno')}" th:errors="*{ApellidoPaterno}"></span>
                            </div>

                            <div class="col-md-6">
                                <label for="ApellidoMaterno">Apellido Materno:</label>
                                <input class="form-control" type="text" id="ApellidoMaterno"  placeholder="Apellido Materno" th:field="*{ApellidoMaterno}" >
                                <span class="error-msg text-danger"></span>
                                <span class="text-danger" th:if="${#fields.hasErrors('ApellidoMaterno')}" th:errors="*{ApellidoMaterno}"></span>
                            </div>

                            <div class="col-md-12">
                                <label for="Email">Email:</label>
                                <input class="form-control" type="text" id="Email" placeholder="ejemplo@gmail.com" th:field="*{Email}">
                                <span class="text-danger" th:if="${#fields.hasErrors('Email')}" th:errors="*{Email}"></span>
                            </div>

                            <div class="col-md-12"> 
                                <label for="Password">Password:</label>
                                <input class="form-control" type="password" id="Password" placeholder="" th:field="*{Password}">
                                <span class="text-danger" th:if="${#fields.hasErrors('Password')}" th:errors="*{Password}"></span>
                            </div>

                            <div class="col-md-6">
                                <label for="FechaNacimiento">Seleccione su fecha de nacimiento</label>
                                <input class="form-control" type="date" id="FechaNacimiento" name="FechaNacimiento" th:field="*{FechaNacimiento}">
                                <span class='text-danger' th:if="${#fields.hasErrors('FechaNacimiento')}" th:errors="*{FechaNacimiento}"></span>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label d-block mb-1">Sexo:</label>

                                <div class="form-check form-check-inline">
                                    <input type="radio" value="H" th:field="*{Sexo}">
                                    <label for="SexoH">H</label>    
                                </div>

                                <div class="form-check form-check-inline">
                                    <input type="radio" value="M"  th:field="*{Sexo}">
                                    <label for="SexoM">M</label>
                                </div>
                                <span class="text-danger" th:if="${#fields.hasErrors('Sexo')}" th:errors="*{Sexo}"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row g-3 align-item-start">
                    <div class="col-md-5 text-left d-flex flex-column align-items-left">

                        <div class="col-lg-7">
                            <label for="Telefono">Telefono: </label>
                            <input class="form-control" type="text" id="Telefono" name="Telefono" placeholder="+571 5535804067" th:field="*{Telefono}"> 
                            <span class="text-danger" th:if="${#fields.hasErrors('Telefono')}" th:errors="*{Telefono}"></span>
                        </div>

                        <div>
                            <label for="Celular">Celular: </label>
                            <input class="form-control" type="text" id="Celular" name="Celular" placeholder="+52 5580406030" th:field="*{Celular}"> 
                            <span class="text-danger" th:if="${#fields.hasErrors('Celular')}" th:errors="*{Celular}"></span>
                        </div>

                        <div>
                            <label for="Curp">Curp: </label>
                            <input class="form-control" type="text" id="Curp" name="Curp" placeholder="CAJU020521HMCSSZA4" th:field="*{Curp}">
                            <span class="text-danger" th:if="${#fields.hasErrors('Curp')}", th:errors="*{Curp}"></span>
                        </div>

                        <div>
                            <label for="IdRol">Selecciona tu Rol: </label>
                            <select class="form-select" aria-label="Default select example" name="IdRol" id="IdRol" th:field="*{Rol.IdRol}">
                                <option value=0> Escoge una opcion </option>
                                <option th:each="rol : ${Roles}" th:value="${rol.IdRol}" th:text="${rol.NombreRol}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">

                            <div>
                                <label for="ddlPais">Selecciona tu Pais: </label>
                                <select class="form-select" aria-label="Default select example" name="ddlPais" id="ddlPais"  th:field="*{Direcciones[0].Colonia.Municipio.Estado.Pais.IdPais}">
                                    <option value=0> Escoge una opcion </option>
                                    <option th:each="pais : ${Paises}" th:value="${pais.IdPais}" th:text="${pais.Nombre}"></option>
                                </select>
                            </div>

                            <div>
                                <label for="ddlEstado">Selecciona tu Estado: </label>
                                <select class="form-select" aria-label="Default select example" name="ddlEstado" id="ddlEstado" th:field="*{Direcciones[0].Colonia.Municipio.Estado.IdEstado}">
                                    <option value=0> Escoge una opcion </option>
                                    <option th:each="estado : ${Estados}" th:value="${estado.IdEstado}" th:text="${estado.Nombre}"> Escoge una opcion </option>
                                </select>
                            </div>

                            <div>
                                <label for="ddlMunicipio">Selecciona tu Municipio: </label>
                                <select class="form-select" aria-label="Default select example" name="ddlMunicipio" id="ddlMunicipio" th:field="*{Direcciones[0].Colonia.Municipio.IdMunicipio}">
                                    <option value=0> Escoge una opcion </option>
                                    <option th:each="municipio : ${Municipios}" th:value="${municipio.IdMunicipio}" th:text="${municipio.Nombre}"> Escoge una opcion </option>
                                </select>
                            </div>

                            <div>
                                <label for="ddlColonia">Selecciona tu Colonia: </label>
                                <select class="form-select" aria-label="Default select example" name="ddlColonia" id="ddlColonia" th:field="*{Direcciones[0].Colonia.IdColonia}">
                                    <option value=0> Escoge una opcion </option>
                                    <option th:each="colonia : ${Colonias}" th:value="${colonia.IdColonia}" th:text="${colonia.NombreColonia}"> Escoge una opcion </option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>





                <div>
                    <label for="CodigoPostal">Codigo Postal: </label>
                    <input class="form-control" type="text" id="CodigoPostal" name="CodigoPostal" placeholder="EJ: 57700" >
                </div>



                <div>
                    <label for="Calle">Calle: </label>
                    <input class="form-control" type="text" id="Calle" name="Calle" placeholder="Ej: Reforma" th:field="*{Direcciones[0].Calle}">
                </div>

                <div>
                    <label for="NumeroInterior"> Numero Interior: </label>
                    <input class="form-control" type="text" id="NumeroInterior" name="NumeroInterior" placeholder="Piso 14" th:field="*{Direcciones[0].NumeroInterior}">
                </div>

                <div>
                    <label for="NumeroExterior">Numero Exterior: </label>
                    <input class="form-control" type="text" id="NumeroExterior" name="NumeroExterior" placeholder="199"th:field="*{Direcciones[0].NumeroExterior}" >
                </div>

                <button type="submit" class="btn btn-outline-success">Agregar Usuario</button>

            </form>
        </div>

        <div>
            <a class="btn btn-outline-danger" th:href="@{/UsuarioIndex}"> Cancelar</a>
        </div>



        <script th:inline="javascript">
            
            document.getElementById("imagenFile").addEventListener("change", function(imagen){
                const file = imagen.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (event){
                        const preview = document.getElementById("ImgPreview");
                        preview.src = event.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            });
            
            
            //estados
            $(document).ready(function () {
                $("#ddlPais").change(function () {

                    const token = /*[[${session.jwtToken}]]*/ null;
                    console.log("token en js: ", token);

                    $.ajax({
                        type: 'GET',
                        url: "http://localhost:8080/estados/" + $("#ddlPais").val(),
                        dataType: "json",
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        success: function (data, textStatus, jqXHR) {

                            $("#ddlEstado").empty();
                            $("#ddlMunicipio").empty();
                            $("#ddlColonia").empty();
                            $("#ddlEstado").append("<option value=0> Escoge una opcion </option>");
                            $("#ddlMunicipio").append("<option value=0> Escoge una opcion </option>");
                            $("#ddlColonia").append("<option value=0> Escoge una opcion </option>");
                            $.each(data.objects, function (i, estado) {
                                $("#ddlEstado").append("<option value = " + estado.idEstado + ">" + estado.nombre + "</option>");
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("No hay información :c ");
                        }
                    });
                });
            });

            //Municipios
            $(document).ready(function () {
                $("#ddlEstado").change(function () {

                    const token = /*[[${session.jwtToken}]]*/ null;
                    $.ajax({
                        type: 'GET',
                        url: "http://localhost:8080/municipios/" + $("#ddlEstado").val(),
                        dataType: "json",
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        success: function (data, textStatus, jqXHR) {

                            $("#ddlMunicipio").empty();
                            $("#ddlMunicipio").append("<option value=0> Escoge una opcion </option>");
                            $.each(data.objects, function (i, municipio) {
                                $("#ddlMunicipio").append("<option value = " + municipio.idMunicipio + ">" + municipio.nombre + "</option>");
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("No hay información :c ");
                        }
                    });
                });
            });

            //Colonias
            $(document).ready(function () {
                $("#ddlMunicipio").change(function () {

                    const token = /*[[${session.jwtToken}]]*/ null;
                    $.ajax({
                        type: 'GET',
                        url: "http://localhost:8080/colonias/" + $("#ddlMunicipio").val(),
                        dataType: "json",
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        success: function (data, textStatus, jqXHR) {

                            $("#ddlColonia").empty();
                            $("#ddlColonia").append("<option value=0> Escoge una opcion </option>");
                            $.each(data.objects, function (i, colonia) {
                                $("#ddlColonia").append("<option value = " + colonia.idColonia + ">" + colonia.nombre + "</option>");
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("No hay información :c ");
                        }
                    });
                });
            });

            //CodigoPostal llenado automatico de los DDL
            $(document).ready(function () {
                $("#CodigoPostal").blur(function () {

                    const token = /*[[${session.jwtToken}]]*/ null;
                    $.ajax({
                        url: "/UsuarioIndex/Add/DireccionByCP/" + $(this).val(),
                        type: "GET",
                        datatype: "json",
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        success: function (data, textStatus, jqXHR) {
                            console.log(data.objects);
                            //Llenar las colonias 
                            $("#ddlcolonia").empty();
                            $.each(data.objects, function (i, direccion) {

                                $("#ddlColonia").append("<option value= " + direccion.idColonia + " > " + direccion.nombreColonia + "</option>");
                            });
                            //Rellenar con lo demas
                            $("#ddlEstado").empty();
                            $("#ddlMunicipio").empty();
                            $("#ddlPais").empty();
                            $("#ddlMunicipio").append("<option value= " + 0 + " > " + data.objects[0].Municipio.nombre + "</option>");
                            $("#ddlEstado").append("<option value= " + 0 + " > " + data.objects[0].Municipio.Estado.nombre + "</option>");
                            $("#ddlPais").append("<option value= " + 0 + " > " + data.objects[0].Municipio.Estado.Pais.nombre + "</option>");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("No hay datos");
                        }
                    });
                });
            });

            //Validaciones
            function ValidacionUsername(event, input) {
                let value = event.key;
                let RegExp = /[a-zA-Z0-9_ñ]+$/;

                if (RegExp.test(value)) {

                    $(input).removeClass("error").addClass("correct");
                    $(input).siblings(".error-msg").text("");

                } else {
                    $(input).removeClass("correct").addClass("error");
                    $(input).siblings(".error-msg").text("El campo NO puede llevar caracteristicas especiales");
                    event.preventDefault();
                }
            }

            function ValidacionTexto(event, input) {
                let value = event.key;
                var cadena = $("#" + input.id).val() + value;
                let RegExp = /^[A-Za-zñáéíóúÁÉÍÓÚ]+(\s[A-Za-zñáéíóúÁÉÍÓÚ]+)*$/;

                if (cadena.charAt(cadena.length - 1) === " " && cadena.length === 1) {
                    $(input).removeClass("correct").addClass("error");
                    $(input).siblings(".error-msg").text("No puedes iniciar con espacio");
                    event.preventDefault();
                } else if (cadena.length > 1 && cadena.charAt(cadena.length - 1) === " ") {
                    console.log("test");
                    if (cadena.charAt(cadena.length - 1) === cadena.charAt(cadena.length - 2)) {
                        event.preventDefault();
                    }
                } else {
                    if (RegExp.test(cadena)) {

                        $(input).removeClass("error").addClass("correct");
                        $(input).siblings(".error-msg").text("");

                    } else {
                        $(input).removeClass("correct").addClass("error");
                        $(input).siblings(".error-msg").text("El campo solo puede llevar Letras");
                        event.preventDefault();
                    }
                }

            }

            function CalidarCorreo(event, input) {
                //            @Pattern(regexp = "^[A-Za-zñáéíóúÁÉÍÓÚ]+(\\s[A-Za-zñáéíóúÁÉÍÓÚ]+)*$", message="Solo se pueden ingresar Letras")
            }

            //Funcion de la alerta
            $(document).ready(function () {
                $("#IdRol").change(function () {
                    const texto = $("#IdRol option:selected").text();
                    const valor = $(this).val();

                    if (valor !== "0") {
                        alert("Has escogido: " + texto);
                    }
                });
            });
        </script>

    </body>
</html>
